@charset "utf-8";
/* CSS Document */

#left-screen{
	clear:both;
	float:left;
	width:30%;
	height:100vh;
	background:url(../img/coder-bg.jpg) no-repeat top left;
	background-size:100% 100%;
	}
#right-screen{
	float:left;
	width:68%;
	padding-left:2%;
	height:97vh;
	padding-top:3vh;
	background:#F7F7F7;
	overflow-y: scroll;
	overflow-x: hidden;
	}
/*left-rows*/
.left-rows1{
	clear:both;
	float:left;
	width:100%;
	height:60vh;
	}
.left-rows2{
	float:left;
	width:100%;
	height:20vh;
	}
.left-rows3{
	float:left;
	width:100%;
	height:20vh;
	background:;
	}
/*lef-img*/


/*left-text*/
.image{
	position:relative;
	width:75%;
	height:250px;
	margin:auto;
	margin-top:10vh;
	box-shadow: 0 0 10px #000;
	}
.border-1, .border-2, .border-3, .border-4{
	position:absolute;
	top:1%;
	left:0;
	transition:all ease-in-out 300ms; 
	}
.border-1{
	width:0%;
	height:2px;
	margin:auto;
	left:5%;
	background:#ff3300;
	opacity:0;
	}
.border-2{
	width:0%;
	height:2px;
	margin:auto;
	left:5%;
	top:136%;
	background:#ff3300;
	opacity:0;
	}
.border-3{
	width:0.5%;
	height:0%;
	margin:auto;
	left:1%;
	top:5%;
	background:#ff3300;
	opacity:0;
	}
.border-4{
	width:0.5%;
	height:0%;
	margin:auto;
	left:98%;
	top:5%;
	background:#ff3300;
	opacity:0;
	}
.image:hover .border-1, .image:hover .border-2{
	width:90%;
	opacity:0.7;
	}
.image:hover .border-3, .image:hover .border-4{
	height:130%;
	opacity:0.7;
	}
.left-rows2 h1 {
	font-size:1.6em;
	color:#fff;
	text-align:center;
	font-family: 'Arvo', serif;
	line-height:40px;
	}
.left-rows2 p {
	font-family: 'Droid Serif', serif;	
	font-size:1.2em;
	line-height:40px;
	text-align:center;
	color:#e1e1e1;
	}

/*left social icons*/
.social-center {
	width:235px;
	margin:auto;
	margin-top:15px;
	}
.fa-quote-left, .fa-quote-right {
	font-size:16px !important;
	font-weight:lighter;
	}
.fa-facebook, .fa-twitter, .fa-google-plus, .fa-github-alt, .fa fa-linkedin {
	color:#1a1a1a;
	background:#fff;
	font-size:1.5em !important;
	width:40px;
	height:40px;
	line-height:40px !important;
	text-align:center;
	border-radius:100%;
	margin-left:5px;
	transition:all ease-in-out 300ms;
	}
.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus:hover, .fa-github-alt:hover, .fa fa-linkedin:hover {
	color:#fff;
	background:#ff3300;
	cursor:pointer;
	}
/*----------Right content---------*/	
.right-content{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:50px;
	background:#FFF;
	margin-top:4vh;
	box-shadow: 0 0 5px #AAAAAA;
	}
.tabmenuContent{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:500px;
	}
.tab-menu {
	width:98%;
	/*max-width:895px;*/
	height:auto;
	min-height:45px;
	background:#262626;
	box-shadow: 0 2px 2px #AAAAAA;
	/*position:fixed;
	z-index:999999;
	top:0;*/
	}	
.tab-menu a {
	display:block;
	height:45px;
	float:left;
	width:20%;
	line-height:45px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	transition:all ease-in-out 300ms;
	}
.tab-menu a:hover {
	background: #fff;
	color:#262626;
	}
.aktif {
	background: #fff;
	color:#262626 !important;
	}
/*---ABOUT SETTİNGS*/
.fa-bookmark{
	position:absolute;
	right:20px;
	top:-5px;;
	font-size:4em !important;
	color:#ff3300;
	}
.about-title{
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:130px;
	}
.about-title h1{
	display:block;
	position:relative;
	width:350px;;
	height:140px;
	text-align:center;
	line-height:140px;
	font-family: 'Open Sans', sans-serif;
	font-size:1.4em;
	letter-spacing:1px;
	margin:auto;
	color:#404040;
	font-weight:bolder;
	}
.about-title h1:before, .about-title h1:after{
	content: "";
    display: block;
    width: 4.5rem;
    height: 1px;
    background-color: #C5CAE9;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
	background:#ff3300;
	}
.about-title h1:after{
	right: 0px;
	}
/*about content*/
.about-content {
	clear:both;
	float:left;
	width:98%;
	padding-left:2%;
	height:auto;
	min-height:50px;
	}
.about-info{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:100px;
	padding-bottom:20px; 
	margin-bottom:50px;
	border-bottom: 1px dashed #e1e1e1;
	}
.about-content .about-info span, .about-personel-info span, .mySkills span, .myStats span{
	display:block;
	width:340px;
	height:30px;
	line-height:30px;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:18px;
	}
.about-content .about-info p {
	display:block;
	width:96%;
	height:auto;
	min-height:30px;
	border-left:3px solid #D6D6D6;
	padding-left:1%;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:25px;
	color:#333;
	}
/*personel info*/
.personel-info, .personel-table {
	clear:both;
	float:left;
	width:98%;
	height:auto;
	}
.personel-table {
	margin-bottom:30px;
	}
.personel-table table{
	width:97%;
	margin-bottom:20px;
	}
.personel-table table tr td{
	border:1px solid #e1e1e1;
	height:35px;
	text-align:left;
	line-height:35px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	padding-left:20px;
	transition:all ease-in-out 300ms;
	}
.personel-table table tr:hover td:last-child{
	background:#ff3300;
	color:#fff;
	cursor:pointer;
	}
.personel-table table tr td:first-child{
	width:20%;
	text-align:right !important;
	font-weight:bold;
	padding:0 !important;
	background:#ff3300;
	color:#fff;
	padding-right:3px !important;
	border-color:#ff3300;
	}
/*MY SKILLS*/
.mySkills {
	clear:both;
	float:left;
	width:97%;
	height:auto;
	min-height:50px;
	margin-bottom:30px;
	margin-top:50px;
	border-bottom: 1px dashed #e1e1e1;
	}
.mySkills ul li {
	width:100%;
	height:auto;
	min-height:50px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:14px;
	}
.skill {
	clear:both;
	float:left;
	width:97%;
	height:10px;
	margin-top:10px;
	background:#EAEAEA;
	border:1px solid #e1e1e1;
	margin-bottom:20px;
	}
.skills-bg, .skills-bg1, .skills-bg2, .skills-bg3, .skills-bg4, .skills-bg5,  .skills-bg6, .skills-bg7, .skills-bg8, .skills-bg9, .skills-bg10{
	clear:both;
	float:left;
	background:#ff3300;
	height:10px;
	}
.skills-bg{
	width:60%;
	}
.skills-bg1{
	width:50%;
	}
.skills-bg2{
	width:70%;
	}
.skills-bg3{
	width:80%;
	}
.skills-bg4{
	width:85%;
	}
.skills-bg5{
	width:70%;
	}
.skills-bg6{
	width:20%;
	}
.skills-bg7{
	width:30%;
	}
.skills-bg8{
	width:20%;
	}
.skills-bg9{
	width:100%;
	}
.skills-bg10{
	width:60%;
	}
/*----mystats---*/
.myStats{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:50px;
	padding-bottom:30px;
	margin-bottom:20px;
	}
.mystats-item {
	float:left;
	width:25%;
	height:auto;
	min-height:80px;
	}
.mystats-item .fa-thumbs-up, .mystats-item .fa-heart, .mystats-item .fa-desktop, .mystats-item .fa-code{
	float:left;
	font-size:2em !important;
	color:#f00;
	margin-right:10px;
	line-height:50px;
	}
.mystats-item span{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:25px;
	color:#5B5B5B;
	}
.mystats-item b{
	font-weight:bolder;
	font-size:16px;
	color:#000;
	}
/*<!--RESUME  CSS START-->*/
.resume-content{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:300px;
	padding-left:2%;
	margin-bottom:30px;
	}
.about-info-page{
	clear:both;
	float:left;
	border-bottom: 1px dashed #e1e1e1;
	padding-bottom:30px;
	padding-left:10px;
	margin-bottom:50px;
	}
.about-info-page p{
	width:90%;
	height:auto;
	min-height:50px;
	border-left:3px solid #ff3300;
	padding-left:10px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:23px;
	color:#5B5B5B;
	}
.education-title{
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:10px;
	float:left;
	padding-bottom:4px;
	}
.education-title:before {
	content:"";
	display:block;
	width:50%;
	height:3px;
	background:#ff3300;
	position:absolute;
	left:0;
	bottom:0;
	}
.resume-left-line{
	clear:both;
	float:left;
	width:99%;
	height:auto;
	min-height:75px;
	border-left: 0px solid #f2f2f2;
	margin-bottom:50px;
	}
.article{
	position:relative;
	clear:both;
	float:left;
	width:90%;
	height:auto;
	min-height:75px;
	margin-left:5%;
	border:1px solid #f2f2f2;
	margin-top:30px;
	background:#FFF;
	z-index:99;
	padding:10px;
	box-shadow: 0 0 10px #f2f2f2;
	}
.article:before {
	content:"";
	display:block;
	width:6%;
	height:2px;
	background:#f2f2f2;
	position:absolute;
	left:-6%;
	top:50%;
	z-index:-99;
	}
.article:hover .fa-graduation-cap,.article:hover  .fa-briefcase, .article:hover .fa-language{
	color:red;
	}
.resume-left-icon{
	position:absolute;
	left:-7%;
	top:40%;
	}
.resume-left-icon .fa-graduation-cap, .resume-left-icon  .fa-briefcase, .resume-left-icon  .fa-language{
	font-size:1.6em !important;
	color:#3F3F3F;
	background:#fff;
	border-radius:100%;
	transition:all ease-in-out 300ms;
	}

.article h4, .article span, .article p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	margin-bottom:8px;
	}
.article h4{
	font-size:16px;
	font-weight:bold;
	}
.article span{
	color:#F81616;
	font-weight:bold;
	}
.article p{
	color:#555;
	}
/*<!--SERVİCES  CSS-->*/
.all-skill-title{
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:100px;
	}
.all-my-skill {
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:10px;
	padding-bottom:4px;
	}	
.all-my-skill:before {
	content:"";
	display:block;
	width:50%;
	height:3px;
	background:#ff3300;
	position:absolute;
	left:0;
	bottom:0;
	}
.all-my-skill-items {
	float:left;
	width:45%;
	margin-left:2.5%;
	height:auto;
	min-height:215px;
	background:#e62e00;
	margin-right:2.5%;
	margin-bottom:5%;
	text-align:center;
	box-shadow:0 0 5px #000;
	padding-top:15px;
	}
.all-my-skill-items .fa-eye, .all-my-skill-items .fa-pie-chart, .all-my-skill-items .fa-mobile, .all-my-skill-items .fa-html5,.all-my-skill-items .fa-code,.all-my-skill-items .fa-cogs{
	display:block;
	font-size:5em;
	color:#fff;
	margin-bottom:10px;
	}
.all-my-skill-items .fa-html5, .all-my-skill-items .fa-pie-chart,.all-my-skill-items .fa-code,.all-my-skill-items .fa-cogs {
	font-size:4em !important;
	margin-top:10px !important;
	}
.all-my-skill-items span{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	}
.all-my-skill-items p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	width:90%;
	margin:auto;
	margin-top:20px;
	}
/*<!--PORTFOLİO CSS-->*/
.portfolio-title, .portfolio-title-mb{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:10px;
	float:left;
	}
.portfolio-title-mb{
	margin-top:50px;
	margin-bottom:20px;
	}
.portfolio-title .fa-globe, .portfolio-title-mb .fa-mobile {
	font-size:1.2em;
	color:#009;
	}
.portfolio-t-container{
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:50px;
	}
.port-applications{
	position:relative;
	float:left;
	width:46%;
	height:auto;
	min-height:270px;
	margin-right:2%;
	margin-bottom:5%;
	text-align:center;
	box-shadow:0 0 5px #D4D4D4;
	}
.port-image{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:200px;
	}
.port-image img {
	min-width:100%;
	height:100%;
	max-width:480px;
	max-height:320px;
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
	transition:ease-in-out 300ms;
	}
.port-image img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor:pointer;
}
.port-image .tags-1, .port-image .tags-2, .port-image .tags-3{
	position:absolute;
	top:0;
	left:0;
	min-width:80px;
	height:30px;
	background:#0066ff;
	color:#fff;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	}
.port-image .tags-2 {
	left:85px;
	background:#e600ac;
	}
.port-image .tags-3 {
	left:170px;
	background:#009900;
	}
.port-title{
	float:left;
	width:100%;
	height:auto;
	min-height:100px;
	}
.port-title h6{
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:50px;
	}
.port-title p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:25px;
	}
.port-bottom{
	float:left;
	width:100%;
	height:auto;
	min-height:50px;
	padding-top:10px;
	}
.port-bottom a {
	position:relative;
	display:block;
	width:50%;
	height:auto;
	min-height:40px;
	line-height:40px;
	background:#ff3300;
	color:#fff;
	margin:auto;
	text-decoration:none;
	border-radius:5px;
	}
.port-bottom a:before {
	position:absolute;
	top:-50%;
	left:0;
	content:"";
	display:block;
	width:100%;
	height:auto;
	min-height:40px;
	background:rgba(255,255,255,0.2);
	border-radius:5px;
	transition:all ease-in-out 300ms;
	}
.port-bottom a:hover:before{
	top:50%;
	}
/*<!--contact page css-->*/
.contact{
	float:left;
	width:15%;
	height:auto;
	min-height:100px;
	margin-right:3%;
	margin-left:3%;
	text-align:center;
	border:1px dashed #e1e1e1;
	padding:8px;
	}
.contact .fa-envelope,.contact .fa-whatsapp,.contact .fa-skype,.contact .fa-phone-square, .contact .fa-linkedin {
	font-size:2.3em !important;
	color:#262626;
	}
.contact span{
	clear:both;
	color:#1a1a1a;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	line-height:30px;
	}
.contact p{
	color:#1a1a1a;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	}
.maps{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:400px;
	margin-top:50px;
	}
.contact-form{
	clear:both;
	float:left;
	width:98%;
	height:auto;
	min-height:400px;
	margin-top:75px;
	}
.contact-form .fa-paper-plane{
	font-size:1.2em;
	color:#009;
	}
.contact-form span{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:bolder;
	}
.form-container{
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:50px;
	margin-top:30px;
	}
.contact-row1, .contact-row2, .contact-row3, .contact-row4, .contact-row5{
	float:left;
	width:40%;
	height:auto;
	min-height:35px;
	border-bottom:1px solid #BBB;
	margin-bottom:30px;
	}
.contact-row2, .contact-row4{
	float:right !important;
	}
.contact-row3, .contact-row5{
	clear:both;
	float:left;
	}
.contact-row5{
	width:100% !important;
	}
.contact-form input {
	display:block;
	width:98%;
	height:auto;
	min-height:35px;
	color:#000;
	outline:none;
	border:none;
	padding-left:1%;
	padding-right: 1%;
	}
.contact-form select {
	display:block;
	width:100%;
	height:auto;
	min-height:35px;
	color:#000;
	outline:none;
	border:none;
	padding-left:1%;
	padding-right: 1%;
	}
.contact-row5 textarea{
	display:block;
	width:100%;
	height:auto;
	min-height:75px;
	outline:none;
	border:none;
	resize:none;
	}
.send-del-button {
	width:100px !important;
	float:left;
	margin:auto;
	margin-right:30px;
	background:#ff3300;
	color:#fff !important;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	}
.send-del-button:hover {
	cursor:pointer;
	}
/*-------footer settings------*/
.footer {
	clear:both;
	float:left;
	width:100%;
	height:auto;
	min-height:50px;
	margin-top:20px;
	text-align:center;
	}
.footer span, .footer a {
	font-size: 13px;
	color:#A4A4A4;
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
	}
@media screen and (max-width:960px) {
	#left-screen{
	clear:both;
	float:left;
	width:100%;
	height:100vh;
	}
#right-screen{
	clear:both;
	float:left;
	width:100%;
	padding-left:0;
	height:auto;
	min-height:50px;
	padding-top:3vh;
	background:#F7F7F7;
	overflow-y: hidden;
	overflow-x: hidden;
	}
.social-center {
	width:200px;
	margin:auto;
	margin-top:10px;
	}
.fa-facebook, .fa-twitter, .fa-google-plus, .fa-github-alt, .fa fa-linkedin {
	font-size:1.5em !important;
	width:40px;
	height:40px;
	line-height:40px !important;
	}
.image{
	width:230px;
	height:230px;
	}
.left-rows2 p {
	font-size:1em;
	}
.tab-menu {
	overflow:hidden;
	}
.all-my-skill-items {
	width:95%;
	}
.port-applications{
	width:98%;
	}
.contact{
	margin-right:2%;
	margin-left:2%;
	}
.contact{
	float:left;
	width:17%;
	height:auto;
	min-height:100px;
	margin-right:2%;
	margin-left:2%;
	text-align:center;
	border:1px dashed #e1e1e1;
	padding:8px;
	}
}
@media screen and (max-width:479px){
.about-title h1{
	width:230px;;
	}
.about-title h1:before, .about-title h1:after{
    width: 2.5rem;
	}
.fa-bookmark{
	top:-3px;;
	font-size:3em !important;
	}
.about-content .about-info span, .about-personel-info span, .mySkills span, .myStats span{
	font-size:16px;
	}
.about-content .about-info p {
	font-size:14px;
	line-height:22px;
	}	
.mystats-item {
	width:50%;
	}
.mystats-item .fa-thumbs-up, .mystats-item .fa-heart, .mystats-item .fa-desktop, .mystats-item .fa-code{
	font-size:1.6em !important;
	}
.mystats-item span{
	font-size:13px;
	}
.mystats-item b{
	font-size:13px;
	}
.port-image .tags-1, .port-image .tags-2, .port-image .tags-3{
	min-width:50px;
	}
.port-image .tags-2 {
	left:55px;
	}
.port-image .tags-3 {
	left:125px;
	}
.port-title h6{
	font-size:18px;
	font-weight:bold;
	line-height:30px;
	}
.port-title p{
	font-size:14px;
	line-height:20px;
	}
.port-bottom{
	float:left;
	width:100%;
	padding-top:10px;
	}
.contact:nth-child(3){
	clear:both;
	float:left;
	}
.contact{
	width:42%;
	margin:0;
	margin-bottom:10px;
	}
.contact span{
	font-size:14px;
	}
.contact p{
	font-size:13px;
	}
.contact .fa-envelope,.contact .fa-whatsapp,.contact .fa-skype,.contact .fa-phone-square, .contact .fa-linkedin{
	font-size:2em !important;
	}
.maps{
	max-height:300px;
	}
	}
@media screen and (max-height:350px){
.image{
	position:relative;
	width:40%;
	height:130px !important;
	margin:auto;
	margin-top:10vh;
	box-shadow: 0 0 10px #000;
	}	
	}
